.card {
  /* flex-direction: column; */
  gap: 10px;
}

.info {
  font-size: 18px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.info a {
  color: inherit;
  font-size: 14px;
}

.info p {
  flex-grow: 1;
}

a.name {
  color: inherit;
  font-size: 1em;
  text-decoration: none;
  transition: 0.3s;
}

.name:hover {
  color: #f1a534;
}

.price {
  font-size: 24px;
  font-weight: 700;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.submit {
  cursor: pointer;
  background-color: #df7c37;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
}
